* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post-enter {
    transform: translateX(-2000px);
}
.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-2000px);
    transition: all 500ms ease-in;
}

.page__wrapper {
    margin: 0 0 20px 0;
    text-align: center;
}

.page {
    margin: 0 5px;
}

.page__current {
    color: white !important;
    background: teal !important;
}

.post__btns {
    display: flex;
}

.post__btns button{
    margin: 2px;
}

.auth_form {
    width: 500px;
}

.auth-tabs {
    display: flex;
    justify-content: space-evenly;
}

.auth-tabs span {
    margin: 5px;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.auth-tabs .active {
    background: teal;
    color: white;
}